@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,html{
  height: 100%;
  width: 100%;
}
.protfolio-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  
}
header nav{
  display: flex;
  gap: 2.5rem;
  padding: 15px;
  position: fixed;
  height:15vh;
  width: 100%;
  justify-content: center;
}
ul{
  display: flex;
  justify-content: space-between;
  flex-basis: 44%;
}
ul li {
  list-style-type: none;
  
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
ul li a:hover ,
nav a.active{
text-decoration: underline 2px;
text-underline-offset: 4px;
color:#4ca8e1;
text-decoration-color: #fff;
}
.hamburger{
  position: relative;
  margin-right: 35rem;
  font-size:30px;
  color: white;
  display: none;
}
@media screen and (max-width:680px){
.hamburger{
  display: flex;
  cursor:pointer;
}
 ul{
    display: none; 
  } 
}
ul.ham_active{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:60px;
  left:0px;
  padding-left: 15px;
  width:100%;
  gap:24px;
  background-color: #30363f;
}

.left-container,
.right-container {
  width:fit-content;
  height: 120vh;
  display: flex;
  align-items: center;
}

.left-container {
  background-color: #262525;
  width: 70%;
  padding-left: 3rem;
}

.right-container {
  background-color: #3877ff;
  width: 30%;
  
}
.icons .fa-brands {
  color: #bbb;
  font-size: 1.7rem;
}
.icons .fa-brands:hover {
  cursor: pointer;
  background: linear-gradient(#fff, #3877ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.content {
  margin-left: 4rem;
  font-size: 2vw;
  width: fit-content;
}
.content h2 {
  font-size: 1.5 rem;
  color: #fff;
}
.content span {
  color: #5db9ee;
}
.content h1 {
  font-size: 4 rem;
  color: #5db9ee;
}
.content .detail {
  font-size: 1.1 rem;
  color: #fff;
  max-width: 38rem;
  margin: 1.1rem 0 3rem 0;
  line-height: 1.8rem;
}
.btn-container button {
  border: 0.1rem solid #5db9ee;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease;
}
button:nth-child(1) {
  background: #5db9ee;
  color: #262525;
}

button:nth-child(2) {
  background: transparent;
  color: #5db9ee;
  margin-left: 2rem;
}
button:nth-child(1):hover {
  background: transparent;
  color: #5db9ee;
}
button:nth-child(2):hover {
  background: #5db9ee;
  color: #262525;
}
.design .circle {
  width: fit-content;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.circle:nth-child(1) {
  background: linear-gradient(90deg, transparent 50%, #262525 50%);
  height: 81vh;
  width: fit-content;
  flex-wrap: wrap;
}

.circle:nth-child(2) {
  background: #262525;
  width: 30rem;
  background-image: url("Image/ramm.png");
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(10px 7px 10px rgb(24, 37, 220));
}

.hehe button{
  text-decoration: none;
}
.btn{
  background-color: #3877ff;
  color: #fff;
  padding:12px 24px;
  border-radius: 24px;
}
.contact form{
  max-width: 70rem;
  margin-bottom: 3rem;
  text-align: center;
  margin: 1rem auto;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form  .input-box input,
.contact form textarea{
  width: 100%;
  padding:1.5rem;
  font-size: 1.6rem;
  color:#fff;
  background-color:#30363f;
  border-radius: .8rem;
  margin:.7rem 0;

}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize:none;
}
.contact form .btn{
  margin-top:2rem;
  cursor: pointer;
}

.footer{
  padding: 2rem 9%;
  background-color: #30363f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer-text{
  font-size: 1.6rem;
  color: #fff;
}
.footer-iconTop{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem 1rem;
  background-color: #262525;
  border-radius: .8rem;
  transition: .5s ease;
}
.footer-iconTop a:hover{
  box-shadow: 0 0 1rem ;
}
.footer-iconTop a i{
  font-size: 2.4rem;
  background-color: #3877ff;
}

.detail{
  font-size: 1.3rem;
}

@media (max-width:1412px) {
  html{
    font-size: 85%;
  }
  
}

/* Media query for smaller screens */
@media(max-width: 1410px ){
html{
font-size: 95%;
}
  .design .circle:nth-child(2) {
    width: 38%;
    
    display:block  }
}
@media(max-width:1383px){
  .circle:nth-child(1){
    display: none;
  }
  .right-container{
    display: none;
  }
  .left-container{
    width:100%;
  }
  .circle:nth-child(2){
    width:35%;
    flex-direction:column;
    margin-top: -1rem;
  }
  .content{
    margin-top: 18rem;
  }
  
}
@media(max-width:1293px){
  .content{
    margin-top: 17rem;
    font-size: 22px;
  }
  .detail{
    font-size: 18px;
  }
  .circle:nth-child(2){
    margin-top: -8rem;
  }
}

@media(max-width:855px){
.content{
  margin-top: 25rem;
  margin-left: 8rem;

}
.detail{
  width:fit-content;
  margin-top: 2rem;
}
.btn-container{
  margin-top: 2rem;
}
.circle:nth-child(2){
width:50%;
margin-top: -10rem;
margin-left:-11rem;
}
}
@media(max-width:707px){
  .content{
    margin-top: 8rem;
    margin-left: 1rem;
  
  }
  .detail{
    width:fit-content;
    margin-top: 2rem;
  }
  .btn-container{
    margin-top: 2rem;
  }
  .circle:nth-child(2){
  width:50%;
  margin-top: -16rem;
  margin-left:-9rem;
  }
  }

@media(max-width:563px){
  .circle:nth-child(2){
  flex-direction: column;
  margin-top: -16rem;
  margin-left:-6rem;
  width:50%;
  
}
.content{
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 11px;
}
.btn-container{
  flex-direction: column;
  margin-top: 1rem;
}
.circle{
  flex-direction: column;
}
.detail{
  width: fit-content;
}
}
@media(max-width:485px){
  .circle:nth-child(2){
    width:50%;
    margin-top: -18rem;
    margin-left: -6rem;
  }
}
@media(max-width:415px){
  .circle:nth-child(2){
    width:50%;
    margin-top: -18rem;
    margin-left: -5rem;
  }
}
@media(max-width:409px){
  .circle:nth-child(2){
    margin-top: -19rem;
    margin-left: -5rem;
  }
  .content{
    margin-top: 18rem;
font-size: 18px;  }
.detail{
  font-size: 18px;
}
}
@media(max-width:363px){
  html{
    font-size:small;
  }
  .circle:nth-child(2){
    margin-top: -23rem;
    margin-left: -5rem;
    flex-direction: column;
  }
  .content{
    margin-top: 15rem;
    flex-direction: column;
}
.btn-container{
  flex-direction: column;
}
}

